@model List<ReservationViewModel>
@{
    ViewData["Title"] = "Reservations";
}
<h1>Reservations</h1>
<a asp-action="Create" class="btn btn-primary">Nueva Reserva</a>
<table class="table">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Médico</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Patient</td>
                <td>@reservation.Date.ToString()</td>
                <td>@reservation.Doctor</td>
            </tr>
        }
    </tbody>
